#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/freedom.jpg") center/cover no-repeat border-box,
    #ff1b68;
  width: 100vw;
  height: 33vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  padding: 0.62rem;
  position: relative;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

.plan {
  background-color: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan--highlighted {
  background-color: #19b84c;
  color: #fff;
}

.plan__annotation {
  background-color: #fff;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: #fff;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 0.5rem;
}

@media(width>40rem) and (height>40rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

@media(width>40rem) {
  .plan__list {
    width: 100%;
    text-align: center;
  }

  .plan {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .key-features__list {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
  }

  .key-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 220px;
  }

  .key-feature__description {
    margin: 1rem auto;
    padding: 1rem;
  }
}

.key-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff1b68;
  margin-top: 5rem;
}

.key-features .section-title {
  color: #fff;
  margin: 2rem;
  padding: 3.75rem;
}

.key-features__list {
  /* list-style: none; */
  /* text-align: center; */
  margin: 0 auto;
  padding: 0;
}

.key-feature:last-child {
  padding-bottom: 2rem;
}

.key-feature__image {
  width: 128px;
  height: 128px;
  background-color: #ffcede;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto;
  padding: 20px;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}

/*------------ MODAL WINDOW -------------*/
.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  min-width: 250px;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}